.choose {
  padding: 3rem 0;
  background-color: $light-grayish-blue;
  text-align: center;

  @include media($min-lg) {
    text-align: left;
  }

  &__content {
    grid-column: 1 / span 2;
    @include media($min-md) {
      //width: 550px;
      //margin: 0 auto;
    }
    @include media($min-lg) {
      text-align: left;
    }
  }

  &__title {
    color: $dark-blue;
    font-size: $h2-font-size;
    margin-bottom: 20px;
  }

  &__text {
    color: $grayish-blue;
    font-size: $p-font-size;
    line-height: $line-height;
    margin-bottom: 3rem;
  }
}

.card {
  &__item {
    max-width: 330px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: $h3-font-size;
    color: $dark-blue;
  }

  &__text {
    line-height: $line-height;
    font-size: $p-font-size;
    color: $grayish-blue;
  }
}
